extends layout
block content
  h1 #{title} 
  != messages('message', locals)
  if errors
    each error, i in errors
      div(class="alert alert-danger") #{error.msg}
  h2 User Display Name: #{user.displayName}
  h2 User Username: #{user.username}
  h2 User Email: #{user.email}


